/*selectores de etiqueta */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
*{
font-family: 'Hubballi', cursive;
line-height: 2rem;
}
								    /* etiquetas */
html{
	padding: 0;
	margin: 0;	
								}
p{
	color:rgb(0, 0, 0) ;
	font-size: 2rem;
}




body nav ul li{
	font-size: 1.6rem;
	margin-left: 2rem ;
	
}

							/* propiedasdes de grid*/
.structure{
	display: -ms-inline-grid;
	grid-template-columns: 2fr;
	grid-template-rows: 15vh 10vh 60vh 15vh;
	grid-template-areas: "logo nav" "div div" "body body " "footer footer";
	justify-items: center;
	align-items: center;

}

#logo{
	grid-area: logo;
	display: inline;
	
}

.carousel-captions {
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
#nav{
	grid-area: nav;
    display: inline-flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
#div{
	grid-area: div;
	display: inline-flex;
}

#body{
	grid-area: body;
}

#footer{
	grid-area: footer;
}

							/*selectores de clases*/

.google{
	padding-left: 30rem;
	
}

.button{
	text-decoration: none;
	color:rgb(114, 30, 54) ;
}

.buttonNav:hover{
background: rgba(125, 213, 248, 0.8);
color:rgba(53, 132, 71, 0.82)
}
.main{
	background-color: white;
	margin: 5rem 5rem;
	z-index: 1;
	}


.textCenter{
	text-align: center;
 }
.textRight{
	text-align: right;
}

.textMain {
	color: mediumvioletred;
	font-size:  4rem;
	text-align: center;
}
.textSub{
	color: mediumvioletred;
	font-size:  3rem;
	text-align: center;
}
.textButton{
	color: black;
	font-size: 1rem;

}

.textfoot{
	color: mediumvioletred;
	font-size:  3rem;
	text-align: center;
}
.bgDark{
	background-color:rgba(23, 44, 204, 0.5);
}

.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner img {
  height: 300px;
}


.navCenter{
	padding: auto;
	display: inline-block;
}
.boxSize{
	padding: 2rem 4rem;
}
	
}

.footer{
	display: inline-flex;
	flex-direction: row;
}


.animate{
	animation-name: animate;
	animation-iteration-count: 1;
	animation-timing-function: inherit;
	animation-duration: 2s;
	width: 100vw
}

	.keypad{
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap
	}
				/* comienza media*/
										
@media only screen and (min-width: 768px) {
	.structure{
		display: -ms-inline-grid;
		grid-template-columns: 3fr;
		grid-template-rows: 15vh 10vh 60vh 15vh;
		grid-template-areas: "logo nav nav" "div div div" "body body body " "footer footer footer";
		justify-items: center;
		align-items: center;
}
}

@keyframes animate{
	0%{width:0vw}
	25%{width:25vw}
	50%{width:50vw}
	75%{width:75vw}
	100%{width:100vw ;}
}