.buttonNav, .buttonExtend {
  border-style: solid;
  border-width: 1px; }
  .buttonNav:hover, .buttonExtend:hover {
    background: rgba(125, 213, 248, 0.8); }

.buttonExtend {
  background: yellow; }

.textMain {
  color: blue;
  font-size: 3rem;
  text-align: center; }

.textSub {
  color: blue;
  font-size: 3rem;
  text-align: center; }

.textfoot {
  color: blue;
  font-size: 3rem;
  text-align: center; }

.animate {
  animation-name: animate;
  animation-iteration-count: 1;
  animation-timing-function: inherit;
  animation-duration: 2s;
  width: 100vw; }

.carousel-inner img {
  height: 300px; }

.boxsize {
  padding: 2rem 4rem; }

.colorW {
  color: white; }
