/* etiquetas*/
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
body nav ul li {
  font-size: 1.6rem;
  margin-left: 2rem; }

/*clases grid*/
.structure {
  display: -ms-inline-grid;
  grid-template-columns: 2fr;
  grid-template-rows: 15vh 10vh 60vh 15vh;
  grid-template-areas: "logo nav" "div div" "body body " "footer footer";
  justify-items: center;
  align-items: center; }

#logo {
  grid-area: logo;
  display: inline; }

#nav {
  grid-area: nav;
  display: inline-flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column; }

#div {
  grid-area: div;
  display: inline-flex; }

#body {
  grid-area: body; }

#footer {
  grid-area: footer; }

.google {
  padding-left: 20rem; }

.main {
  background: #f7f8fa;
  margin: 2rem 2rem;
  z-index: 1; }

.container-fluid {
  height: 90%;
  width: 100%; }

.navCenter {
  padding: auto;
  display: inline-block; }

.opacity {
  opacity: 0.8;
  border-radius: 150px;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem; }

.keypad {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.backgroundNav {
  background-image: linear-gradient(to top, #ffffff, #f66c01); }

.backgroundFooter {
  background-image: linear-gradient(to top, #f66c01, #ffffff); }

.e404 {
  text-align: center; }

/*media*/
@media only screen and (min-width: 768px) {
  .main {
    margin: 4rem; } }

@media only screen and (min-width: 768px) {
  .structure {
    display: -ms-inline-grid;
    grid-template-columns: 3fr;
    grid-template-rows: 15vh 10vh 60vh 15vh;
    grid-template-areas: "logo nav nav" "div div div" "body body body " "footer footer footer";
    justify-items: center;
    align-items: center; } }

* {
  font-family: 'Hubballi', cursive; }

.textMain {
  line-height: 2rem;
  color: blue;
  font-size: 3rem;
  text-align: center; }

.textSub {
  line-height: 3rem;
  color: blue;
  font-size: 3rem;
  text-align: center; }

.textfoot {
  line-height: 1.3rem;
  color: blue;
  font-size: 3rem;
  text-align: justify; }

.paragraph {
  line-height: 2rem;
  color: black;
  font-size: 1.6rem;
  text-align: justify; }

.animate {
  animation-name: animate;
  animation-iteration-count: 1;
  animation-timing-function: inherit;
  animation-duration: 2s;
  width: 100vw; }

.carousel-inner img {
  height: 300px; }

.buttonNav, .buttonExtend {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px; }
  .buttonNav:hover, .buttonExtend:hover {
    box-shadow: 10px 10px;
    background: #ffffff; }

.buttonExtend {
  background: rgba(128, 170, 177, 0.4); }

.boxsize {
  padding: 2rem 4rem; }

.colorW {
  color: white; }

.boxsize {
  padding: 2rem 4rem; }

.colorW {
  color: white; }

.opacityF {
  opacity: 0.8;
  border-radius: 30px; }

.footer {
  display: inline-block;
  flex-direction: row; }
