//variables globales

//alto en pix
$h-300p:300px;

//ancho de vision
$w-25:25vw;
$w-50:50vw;
$w-75:75vw;
$w-100:100vw;

//tamaño de cajas
$boxsize: 2rem 4rem;

//caracteristicas de la fuente
		//principal
$colorMain:mediumvioletred;
$tittleSize: 4rem;
		//secundario
$colorSub:mediumvioletred;
$subFontSize: 3rem;

