//Caracteristicas de fuente
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
*{
font-family: 'Hubballi', cursive;

}

//nesting
.textMain{
line-height: 2rem;	
@include texto(blue, 3rem, center) 
}

.textSub {
	line-height: 3rem;
	@include texto(blue, 3rem, center)
	
}

.textfoot{
	line-height: 1.3rem;
	@include texto(blue, 3rem, justify)
}

.paragraph{
	line-height: 2rem;
	@include texto(black, 1.6rem, justify)
}