//nesting

.animate{
	animation-name: animate;
	animation-iteration-count: 1;
	animation-timing-function: inherit;
	animation-duration: 2s;
	width:$w-100;
}

.carousel-inner{
	img{
		height:$h-300p;
	}
}

 .buttonNav{
border-style: solid;
border-width: 1px;
border-radius:50px;
&:hover{
	
box-shadow: 10px 10px ;
background:map-get($map:$colors, $key:'seis');}
 }

  .buttonExtend{
 	@extend .buttonNav;
 	background:map-get($map:$colors, $key:'tres') ;
 }